In [2]:
# 데이터

!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 485, done.
remote: Counting objects: 100% (122/122), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 485 (delta 66), reused 49 (delta 44), pack-reused 363
Receiving objects: 100% (485/485), 8.89 MiB | 18.65 MiB/s, done.
Resolving deltas: 100% (251/251), done.

# 문제1
* Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
a = df.groupby(by='species')['petal_width'].quantile(0.75)
print(a)

species
setosa        0.3
versicolor    1.5
virginica     2.3
Name: petal_width, dtype: float64

In [8]:
answer = a.max() - a.min()
print(answer)

1.9999999999999998

# 문제2
* iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번째에 오는 숫자를 계산하시오.

In [12]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')

list_a = df['sepal_length'].unique().tolist()
print(list_a)

[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.4, 4.8, 4.3, 5.8, 5.7, 5.2, 5.5, 4.5, 5.3, 7.0, 6.4, 6.9, 6.5, 6.3, 6.6, 5.9, 6.0, 6.1, 5.6, 6.7, 6.2, 6.8, 7.1, 7.6, 7.3, 7.2, 7.7, 7.4, 7.9]

In [14]:
list_a.sort()

answer = list_a[9]
print(answer)

5.2

#문제3
* iris 데이터 세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오(최종 계산 값의 소수점 이하는 버린다)

In [19]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')

df1 = df.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)

df_new = df1.loc[:99]

df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  100 non-null    float64
 1   sepal_width   100 non-null    float64
 2   petal_length  100 non-null    float64
 3   petal_width   100 non-null    float64
 4   species       100 non-null    object
dtypes: float64(4), object(1)
memory usage: 4.0+ KB

In [20]:
answer = np.trunc(df_new['sepal_width'].std()*50)
print(answer)

16.0

#문제4
* Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오(최종 계산 값의 소수점 이하는 반올림한다.)

In [35]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')

df = df.sort_values(by=['species','petal_length'], ascending=[True, False])

# 상위 10개 행 추출
df_new = df.groupby(by='species').head(10)
df_new

     sepal_length  sepal_width  petal_length  petal_width     species
24            4.8          3.4           1.9          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
5             5.4          3.9           1.7          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
11            4.8          3.4           1.6          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa
83            6.0          2.7           5.1          1.6  versicolor
77            6.7          3.0           5.0          1.7  versicolor
52            6.9          3.1           4.9          1.5  versicolor
72            6.3          2.5           4.9          1.5  versicolor
70            5.9          3.2           4.8          1.8  versicolor
76            6.8          2.8           4.8          1.4  versicolor
50            7.0          3.2           4.7          1.4  versicolor
56            6.3          3.3           4.7          1.6  versicolor
63            6.1          2.9           4.7          1.4  versicolor
73            6.1          2.8           4.7          1.2  versicolor
118           7.7          2.6           6.9          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
122           7.7          2.8           6.7          2.0   virginica
105           7.6          3.0           6.6          2.1   virginica
131           7.9          3.8           6.4          2.0   virginica
107           7.3          2.9           6.3          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
130           7.4          2.8           6.1          1.9   virginica
135           7.7          3.0           6.1          2.3   virginica
100           6.3          3.3           6.0          2.5   virginica

In [37]:
df_new.groupby(by='species')['petal_length'].mean()

species
setosa        1.70
versicolor    4.83
virginica     6.39
Name: petal_length, dtype: float64

In [38]:
answer = np.round(df_new.groupby(by='species')['petal_length'].mean().sum())

print(answer)

13.0

#문제5
* Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(단, 이상치 범위는 (평균+2*표준편차) 이상이거나 (평균-2*표준편차) 이하이다.)

In [39]:
df = pd.read_csv('/content/yemoonsaBigdata/datasets/Part2/iris.csv')

cond1 = df['sepal_length'] >= df['sepal_length'].mean() + 2*df['sepal_length'].std()
cond2 = df['sepal_length'] <= df['sepal_length'].mean() - 2*df['sepal_length'].std()

In [40]:
answer = len(df[cond1 | cond2])

print(answer)

6